<% div_for account do %>
  <h1><%= account.name %></h1>
  <div class="actions">
    <%= link_to t('.new'), new_user_account_tag_path(account) %>
  </div>
  <div class="tags">
    <%= render account.tags %>
  </div>
<% end %>
